#bill-plans-title-heading {
  margin-top: 30px;
  width: 55%;
  margin-left: 40%;
}

.bill-card {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.bill-card-size {
  width: 15rem;
  margin-top: 4rem;
  height: 5rem;
}

.view-more {
  border-radius: 8px;
  margin-top: 5px;
  width: 150px;
  height: 30px;
  background-color: green;
  color: white;
  font-weight: bold;
  margin-left: 30px;
  padding: 2px;
  cursor: pointer;
}

.billPlan-main {
  height: 500px;
  display: flex;
  margin-left: 90px;
  padding: 10px;
}

.delete-plan {
  background-color: #f05634;

  border-radius: 8px;
  margin-top: 5px;
  width: 150px;
  height: 30px;

  color: white;
  font-weight: bold;
  margin-left: 30px;
  padding: 2px;
  cursor: pointer;
}

.add-new-bill-plan {
  font-size: 18px;
  border-radius: 4px;
  height: 45px;
  margin-left: 75%;
  color: white;
  width: 200px;
  border: none;
  cursor: pointer;
  background-color: #0096ff;
  text-align: center;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.add-new-bill-plan:hover {
  cursor: pointer;
  background-color: #156dd3;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.new-bill-text {
  cursor: pointer;
  margin-left: 10px;
}
