#bill-plans-title-heading{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
width: 55%;
margin-left: 40%;
}

.bill-card{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
}


.bill-card-size{
    width:15rem;
    margin-top:4rem;
    height: 5rem;

}

.view-more{
    border-radius: 8px;
    margin-top: 5px;
    width: 150px;
    height: 30px;
    background-color: green;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    padding: 2px;
    cursor: pointer;
}

.billPlan-main{
    height: 500px;
    display: flex;
    margin-left: 90px;
    padding: 10px;
}


.delete-plan{
    background-color: #F05634 ;

    border-radius: 8px;
    margin-top: 5px;
    width: 150px;
    height: 30px;
    
    color: white;
    font-weight: bold;
    margin-left: 30px;
    padding: 2px;
    cursor: pointer;
}