.main {
   
    font-size: 28px; 
    padding: 0px 10px;
    display: inline-block;
    width: 100%;
    
    
    
}

.table-responsive{
    width: 1000px;
    margin-left: 50px;
}

.device-wise-title{
    margin-top: 45px;
    
    display: inline-block;
    text-align: center;
   margin-left:260px;
    padding: 4px;
    border-radius: 20px;
    width: 500px;
    background-color: #E2EEDE
}

.selection-method{
    font-size: 22px;
    width:350px;
    border-radius: 6px;
    border-color:  darkgreen ;
    border-width: 2px;
    padding: 5px;
    background-color: #E5E9CF;
    
}

.selection-title{
    font-size: 22px;
    color: black;
    margin-right:4rem;
}

.option-method{
    font-size: 24px;
    color: black; 
}

.selection-card{

    margin-top: 1.5rem;
    margin-left:180px;
}

.table-borderless{
    font-size: 20px;
    margin-top: 2rem;
    width: 90%;
    margin-left: 3.5rem;
}

.device-wise-td{
    text-align: center;
}

.device-wise-tr{
    border-radius: 10px;
    border-color:#79DBC4 ;
    padding: 5px;
    border-width: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.device-wise-chart{
    margin-top: 1.5rem;
    margin-right: 2rem;
    display: inline-block;
    border-color: black;
    border-style: solid ;
    border-width: 2px;
    padding: 4px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
    margin-left: 240px;
    background-color: goldenrod;
}

.application-name{
    text-align: center;
}


.title-heading{
    font-size: 29px;
    width: 85%;
    /* justify-content: center; */
    text-align: center;
    margin-top: 2%;
    font-weight: 500;
}

#model-select{
    
    margin-left: 38%;
    width: 30%;
    margin-top: 2%;
}

.tou-headline{
    margin-left: 5%;
    font-size: 25px;
    margin-top: 2%;
    font-weight: 500;
}

.button-device-wise{
    float: right;
    margin-right: 13.5%;
    width: 18%;
    margin-bottom: 20px;
   
   
    
    
}

#device-wise-btn{
    width:250px;
    height:45px;
}

.duration-label{
    margin-left: 30px;
    font-weight: 500;
    font-size: 21px;
}

