 .forgotPasswordPageContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.808)),
    url("../../img/pexels-pixabay-207489.jpg");
  min-height: 89vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  height: 760px;
  background-repeat: no-repeat;

 justify-content: center;
 align-items: center;
} 
