.submitbtn{
    background-color: #01BF71; 
    border-radius: 50px;
    box-shadow: #049665;
    border: none;
    width: 250px;
    font-weight:bold;
    font-size: medium;
    padding: 7px;
    margin-top: 35px;

}
.submitbtn:hover{
    background-color:#00af86;
    color: beige;
    transform:scale(1.02);
    transition: all 0.2s ease-in-out;
}

form input[name="email"]
{
    margin-top: 28px;
    border: 0;
    border-bottom: 3px solid rgb(19, 235, 152);
    border-radius: 0;
}
form input:focus{
   background-color: transparent !important;
    box-shadow: none !important;
   border-bottom: 3px solid rgb(24, 26, 25);

}
.form-control:focus{
  background-color: white;
  border-color: #22cca4;
}
.form-group1{
margin-top: 50px;
}

.frmForgotPassword{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-top: 40px;
 
  width: 100%;
  align-items: center;

 @media screen and (max-width:600px){
     margin-left:5%;
   }
}
.grpForgotPassword{
  width: 390px;
  margin: auto;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.5);
  padding: 40px 55px 45px 55px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  
}
.SocialIcons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  padding-top: 5px;
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  }