.body-manageengineer {
  width: 90%;
  left: 8%;
  position: relative;
  padding: 25px 100px 75px;
}

.body-addengineer {
  width: 90%;
  left: 8%;
  top: 70px;
  position: relative;
  padding: 25px 100px 75px;
}

.ceb-heading {
  width: 100%;
  top: -30px;
  left: -15%;
  position: relative;
}

.admin-add-update-btn {
  background-color: #01bf71;
  border-radius: 50px;
  box-shadow: #049665;
  border: none;
  width: 250px;
  font-weight: bold;
  font-size: medium;
  padding: 7px;
  margin-top: 25px;
  left: 20%;
  position: relative;
}
.admin-add-update-btn:hover {
  background-color: #00af86;
  color: beige;
}

.addnewceb-btn {
  background-color: #01bf71;
  border-radius: 50px;
  box-shadow: #049665;
  border: none;
  width: 200px;
  font-weight: bold;
  font-size: medium;
  padding: 7px;
  margin-top: 25px;
  position: relative;
}
.addnewceb-btn:hover {
  background-color: #00af86;
  color: beige;
}
