/* .card1{
    background-color: #7ae7f5;
} */

.card2{
    background-color: turquoise;
}

.text-center{
    background: #83fca7;
}

.text-center1{
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
}

.grp{
    width: 40%;
}

.main-title{
    display: inline-block;
    
    padding: 4px;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 5%;
    background-color: #E2EEDE
}

.my-3{
    width: 100%;
    text-align: center;
}

.btn-tou{
    margin: 5% ;
    margin-bottom: none;
    font-size: 100%;
}

.btn-fixed{
    margin: 5% ;
    margin-bottom: none;
    font-size: 100%;
}

.btn-suggest{
    margin: 5% ;
    margin-bottom: none;
    font-size: 100%;
}

.best_one{
    margin-top: 5%;
}

.frm{
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}