
.card2{
    background-color: turquoise;
    height: 100%;
}

.usage-device{
    background: #83fca7;
    margin-top: 5%;
    margin-bottom: 5%;
}

.best-model{
    margin-top: 5%;
    margin-bottom: 20px;
    border-radius: 5%;
}

.grp{
    width: 60%;
    margin-left: 20%;
    margin-top: 40px;

}

.main-title{
    display: inline-block;
    align-items: center;
    padding: 4px;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 5%;
    background-color: #E2EEDE
}


.my-3{
    width: 100%;
    text-align: center;
}

.btn-tou{
    margin: 5% ;
    margin-bottom: none;
    font-size: 100%;
}

.btn-fixed{
    margin: 5% ;
    margin-bottom: none;
    font-size: 100%;
}

.btn-suggest{
    margin: 2% ;
    margin-bottom: none;
    font-size: 100%;
}

.row{
    margin-bottom: 5%;
}

.frm{
    width: 80%;
    margin: auto;
}
