.card1{
    background-color: #7ae7f5;
}

.card2{
    background-color: turquoise;
}

.text-center{
    background: #9af3ff;
}

.grp{
    width: 40%;
}

h3{
    margin-bottom: 5%;
}

.my-3{
    width: 100%;
    text-align: center;
}

.active{
    margin: 5% ;
    margin-bottom: none;
}

.form-group{
    text-align: center;
}

.best_one{
    margin-top: 5%;
}
