.infotable-group1{
    margin-top: 3%;
    width: 80%;
}

.infotable-group2{
    margin-top: 3%;
    width: 80%;
}

.infotable-group3{
    margin-top: 3%;
    width: 80%;
}

.infotable-grp{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 18%;
    width: 80%;
}

.maintitle-info{
    margin-bottom: 3%;
}

.rowfont{
    color: aliceblue;
}

.infotable-form{
    width: 100%;
}