
.App{
    width:100vw;
    height:100vh;
    
}

body{
    margin:0;
    padding:0;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  

.Sidebar{
    height:100%;
    width:300px;
    background-color:#79DBC4;
    margin-top: 3.4rem;
    position: fixed;
    border-right: 3px solid #3B7769

}

.SidebarList{
    
    height:auto;
    width:100%;
    padding: 0;
    
}
 
 

.SidebarList .row{
    width:80%;
    color: black;
    height:60px;
    border:2px solid #3B7769;
    list-style-type: none;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    display:flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 1rem;
    align-items:center;
    justify-content: center;
    border-left: 0.5rem solid #3B7769 ;
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color:#F6F9E8;
}

.SidebarList .row #active{
    background-color: black;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex:70%;
    font-size: 20px;
    text-align: left;
}

