/* .card{
    height: 100%;
}

.text-center{
    background: #83fca7;
}

.text-center1{
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5%;
}

.grp{
    width: 50%;
    margin-top: 5%;
}

.title-unitcharges{
    display: inline-block;
    
    padding: 4px;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 5%;
    background-color: #E2EEDE
}

.my-3{
    width: 100%;
    text-align: center;
}

.btn-60{
    margin: 5% ;
    margin-bottom: none;
}

.btn-60+{
    margin: 5% ;
    margin-bottom: none;
}

.frm{
    width: 100%;
    margin: auto;
}

.icon{
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
}

.both{
    margin-top: 3%;
} */