.engineer-current-label {
  font-size: 1.5rem;
  margin-left: 40%;
  border-radius: 4px;
  background-color: #9ae88a;
  color: black;
  padding-right: 8px;
  padding-left: 7px;
}

#engineer-accept-reject-button {
  justify-content: center !important;
}

.engineer-increase-amount {
  font-size: 1.5rem;
  width: 16%;
  margin-left: 38%;
  border-radius: 4px;
  border-style: none;
  background-color: #9ae88a;
  color: black;
  padding-right: 8px;
  padding-left: 7px;
}

.engineer-new-unit-price {
  font-size: 1.5rem;
  width: 16%;
  margin-left: 44%;
  border-radius: 4px;
  border-style: none;
  background-color: #9ae88a;
  color: black;
  padding-right: 8px;
  padding-left: 7px;
}

.engineer-UpdateButton {
  width: 200px;

  font-size: 20px;
}

.engineer-CancelButton {
  width: 200px;
  background-color: #f36c3e;
  font-size: 20px;
}

.engineer-CancelButton:hover {
  background-color: #f5460a;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.engineer-popup-price-changes {
  display: flex;
  padding: 10px;
  border-width: 2px;
  display: flex;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 4px;
  margin-top: 20px;
}
