.body-engineer {
  width: 90%;
  left: 8%;
  position: relative;
  padding: 25px 100px 75px;
}

.ceb-engineer-heading {
  width: 100%;
  margin-top: 1%;
  left: -13%;
  padding-bottom: 4%;
  position: relative;
}
